wx_site_micc/Connected Services/OAuthTwoService/OAuthTwoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="OAuthTwo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="agentid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OAuthTwoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OAuthTwoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OAuthTwoSoapIn">
    <wsdl:part name="parameters" element="tns:OAuthTwo" />
  </wsdl:message>
  <wsdl:message name="OAuthTwoSoapOut">
    <wsdl:part name="parameters" element="tns:OAuthTwoResponse" />
  </wsdl:message>
  <wsdl:portType name="OAuthTwoServiceSoap">
    <wsdl:operation name="OAuthTwo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">用户授权确认</wsdl:documentation>
      <wsdl:input message="tns:OAuthTwoSoapIn" />
      <wsdl:output message="tns:OAuthTwoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OAuthTwoServiceSoap" type="tns:OAuthTwoServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OAuthTwo">
      <soap:operation soapAction="http://tempuri.org/OAuthTwo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OAuthTwoServiceSoap12" type="tns:OAuthTwoServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OAuthTwo">
      <soap12:operation soapAction="http://tempuri.org/OAuthTwo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OAuthTwoService">
    <wsdl:port name="OAuthTwoServiceSoap" binding="tns:OAuthTwoServiceSoap">
      <soap:address location="http://127.0.0.5/OAuthTwoService.asmx" />
    </wsdl:port>
    <wsdl:port name="OAuthTwoServiceSoap12" binding="tns:OAuthTwoServiceSoap12">
      <soap12:address location="http://127.0.0.5/OAuthTwoService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>