wx_site_micc/Connected Services/GetUserByCodeService/GetUserByCodeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetUserinfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accessToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserinfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserinfoResult" type="tns:Userinfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Userinfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="errcode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="errmsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeviceId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="user_ticket" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="expires_in" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetUserinfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserinfo" />
  </wsdl:message>
  <wsdl:message name="GetUserinfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserinfoResponse" />
  </wsdl:message>
  <wsdl:portType name="GetUserByCodeServiceSoap">
    <wsdl:operation name="GetUserinfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根据用户的code信息获取用户的ID信息</wsdl:documentation>
      <wsdl:input message="tns:GetUserinfoSoapIn" />
      <wsdl:output message="tns:GetUserinfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GetUserByCodeServiceSoap" type="tns:GetUserByCodeServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserinfo">
      <soap:operation soapAction="http://tempuri.org/GetUserinfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GetUserByCodeServiceSoap12" type="tns:GetUserByCodeServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUserinfo">
      <soap12:operation soapAction="http://tempuri.org/GetUserinfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GetUserByCodeService">
    <wsdl:port name="GetUserByCodeServiceSoap" binding="tns:GetUserByCodeServiceSoap">
      <soap:address location="http://127.0.0.5/GetUserByCodeService.asmx" />
    </wsdl:port>
    <wsdl:port name="GetUserByCodeServiceSoap12" binding="tns:GetUserByCodeServiceSoap12">
      <soap12:address location="http://127.0.0.5/GetUserByCodeService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>